div {
    border: 1px solid black;
    margin: 10px;
}


.container{
    display: flex;
    flex-direction: column;
    height: 700px;
}
.selection1{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 10px;
   
}
.s1-block1{
    flex: 1;
}
.s1-block2{
    flex: 1;
}
.s1-block3{
    flex: 1;
}
.s1-block4{
    flex: 1;
}
.s1-block5{
    flex: 1;
}
.s1-block6{
    flex: 1;
}
.s1-block7{
    flex: 1;
}
.s1-block8{
    flex: 1;
}

.selection2{
    flex: 1;
    display: flex;
    flex-direction: row;
   height: 10px;
}
.s2-block1{
    flex: 1;
}
.s2-block2{
    flex: 1;
}
.s2-block3{
    flex: 1;
}
.s2-block4{
    flex: 1;
}
.s2-block5{
    flex: 1;
}
.s2-block6{
    flex: 1;
}
.s2-block7{
    flex: 1;
}
.s2-block8{
    flex: 1;
}
.s2-block9{
    flex: 1;
}
.s2-block10{
    flex: 1;
}
.selection3{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.s3-block1{
    flex: 0.3;
    height: 500px;
}
.s3b1{
    flex: 1;
    flex-direction: row;
}
.s3-block2{
    flex: 1;
}
.s3-block3{
    flex: 0.3;
}